.widget-toggle-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.logged-in.admin-bar .widget-toggle-container { top: 28px }
.widget-toggle label,
.widget-toggle input[type="button"],
.widget-toggle input[type="submit"],
.widget-toggle input[type="image"],
.widget-toggle button { cursor: pointer }
.widget-toggle {
    background-color: #333;
    color: #ccc;
    display: none;
    margin: 0;
    padding: 40px 0 0;
    position: relative;
    z-index: 0;
}
.widget-toggle h1,
.widget-toggle h2,
.widget-toggle h3,
.widget-toggle h4,
.widget-toggle h5,
.widget-toggle h6,
.widget-toggle p,
.widget-toggle label { color: #ccc }
.widget-toggle .wrap {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.gwt-widget-left,
.gwt-widget-middle,
.gwt-widget-right {
    float: left;
    margin-left: 2.564102564102564%;
    width: 31.623931623931625%;
    position: relative;
    z-index: 0;
}
.gwt-widget-left { margin-left: 0 }
.widget-toggle .widget { margin: 0 0 30px }
.widget-toggle-control {
    border-top: 5px solid #222;
    width: 100%;
    position: relative;
    z-index: 99;
}
.widget-toggle-control .hide-widget-toggle,
.widget-toggle-control .show-widget-toggle {
    background-color: #222;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 12px 15px;
    line-height: 1em;
}
.hide-widget-toggle i.toggle-icon:before,
.show-widget-toggle i.toggle-icon:before {
    content: "\2B";
    display: block;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.show-widget-toggle i.toggle-icon:before { content: "\2013" }
@media (max-width: 767px) { 
    .gwt-widget-left,
    .gwt-widget-middle,
    .gwt-widget-right {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0 auto 30px;
    }
}